<div class="about__body">
  <div class="about-list">
    <div class="about-box">
      <figure class="about-box__img-wrapper">
        <img class="about-box__img" src="img/about-training.jpg" alt="英語でトレーニングの様子">
      </figure>
      <div class="about-box__desc fadeUpEffect">
        <div class="about-box__subtitle">Training</div>
        <h2 class="about-box__title">セッションはすべて英語。<br>LAさながらの環境</h2>
        <div class="about-box__text">
          <p>
            ネイティブスピーカーによる50分のパーソナルトレーニングはすべて英語です！アップテンポの洋楽が流れる空間でテンション高めのトレーナーが英語であなたのトレーニングを盛り上げてくれます。ダイエットでよく使う英語をまとめたオリジナルテキストもあるのでスピーキング学習もバッチリです！<br>英語に苦手意識がある方は日本人トレーナーも選べますのでご安心してください。
          </p>
        </div>
      </div>
    </div>
    <div class="about-box about-box--reverse">
      <figure class="about-box__img-wrapper">
        <img class="about-box__img" src="img/about-food.jpg" alt="低糖質の食事メニュー">
      </figure>
      <div class="about-box__desc fadeUpEffect">
        <div class="about-box__subtitle about-box__subtitle--food">Food</div>
        <h2 class="about-box__title">低糖質レストランを完備！<br>美味しく食べてダイエット</h2>
        <div class="about-box__text">
          <p>
            食事制限って大変ですよね......。でも大丈夫！ENGBODY館内には低糖質レストラン『LCR』を完備しています。Low
            carb（低糖質）なのにとっても美味しい味に驚くはずです！メニューも豊富で飽きさせません。美味しく食べてしっかり痩せる！しかも英語力もアップ！それがENGBODYなのです。
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="about__btn">
  <a href="#" class="btn btn--center">無料カウンセリングを受ける</a>
</div>