<div class="container">
  <div class="section__heading">
    <h2 class="heading-primary">FAQ<span class="heading-primary__subtitle">よくあるご質問</span></h2>
  </div>
  <div class="faq__body">
    <dl class="accordion">
      <div class="accordion__item">
        <dt class="accordion__question accordion__question--first">
          <div class="accordion__question-inner">
            <span class="accordion__label">Q</span>
            <p class="accordion__text">
              見学や体験は可能ですか？
            </p>
          </div>
        </dt>
        <dd class="accordion__answer">
          <div class="accordion__answer-inner">
            <span class="accordion__label">A</span>
            <p class="accordion__text">無料カウンセリングの際に見学が可能です。フォームに見学・体験希望の欄がございますので内容をご確認しチェックを入れてください。</p>
          </div>
        </dd>
      </div>
      <div class="accordion__item">
        <dt class="accordion__question">
          <div class="accordion__question-inner">
            <span class="accordion__label">Q</span>
            <p class="accordion__text">用意するものは何がありますか？</p>
          </div>
        </dt>
        <dd class="accordion__answer">
          <div class="accordion__answer-inner">
            <span class="accordion__label">A</span>
            <p class="accordion__text">シューズをご持参ください。ウェアとタオルは無料でレンタルが可能です。</p>
          </div>
        </dd>
      </div>
      <div class="accordion__item">
        <dt class="accordion__question">
          <div class="accordion__question-inner">
            <span class="accordion__label">Q</span>
            <p class="accordion__text">シャワールームはありますか？</p>
          </div>
        </dt>
        <dd class="accordion__answer">
          <div class="accordion__answer-inner">
            <span class="accordion__label">A</span>
            <p class="accordion__text">5つのシャワールームがございます。ボディソープ・シャンプー・リンスなどのアメニティやドライヤーもご用意しております。</p>
          </div>
        </dd>
      </div>
    </dl>
  </div>
</div>