<div class="mv__titleArea">
  <h2 class="mv__title">
    <span class="bgextend bgLRextendTrigger">
      <span class="bgappearTrigger">
        <span class="mv__text-bg-color">Body Make</span>
      </span>
    </span>
    <br>
    <span class="bgextend bgLRextendTrigger">
      <span class="bgappearTrigger">
        <span class="mv__text-bg-color"><span class="mv__text-and">&</span>English</span>
      </span>
    </span>
  </h2>
  <div class="mv__subtitle">
    <span class="mv__text-bg-color">英会話＆パーソナルトレーニングジム</span>
  </div>
  <div class="mv__btn">
    <a href="#" class="btn">無料カウンセリングを受ける</a>
  </div>
</div>
<div class="mv__img"></div>