      <div class="container">
        <div class="section__heading">
          <h2 class="heading-primary">Studio<span class="heading-primary__subtitle">スタジオ</span></h2>
        </div>
        <div class="studio__body">
          <div class="studio__photo">
            <div class="swiper-wrap">
              <div class="swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide"><img src="img/studio01.jpg" alt="スタジオ1"></div>
                  <div class="swiper-slide"><img src="img/studio02.jpg" alt="スタジオ2"></div>
                  <div class="swiper-slide"><img src="img/studio03.jpg" alt="スタジオ3"></div>
                </div>
              </div>
              <div class="swiper-pagination"></div>
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
            </div>
          </div>
        </div>
      </div>  