<svg class="section-border-top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 375 25">
  <path
    d="M375,240.667l-20.833,1.38c-20.833,1.484-62.5,4.089-104.167,1.406-41.667-2.786-83.333-11.12-125-15.286S41.667,224,20.833,224H0v25H375Z"
    transform="translate(0 -224)" fill="#eb51c2" />
</svg>

<div class="section__inner">
  <div class="container">
    <div class="section__heading">
      <h2 class="heading-primary heading-primary--color-reverse">Our Trainer<span
          class="heading-primary__subtitle">トレーナー</span></h2>
    </div>
    <div class="trainer__body">
      <div class="tab-wrapper">
        <div class="tab-area">
          <div class="tab tab--active">トレーナー</div>
          <div class="tab">スタッフ</div>
        </div>
        <div class="tab-content-area">
          <div class="tab-content show">
            <div class="person-list">
              <div class="person-box fadeUpEffect">
                <figure class="person-box__img">
                  <img src="img/trainer01.jpg" alt="トレーナー1人め">
                </figure>
                <div class="person-box__body">
                  <div class="person-box__text">
                    <p>
                      こんにちは！英語で楽しくトレーニングしましょう。日本語が話せますのでご安心ください。
                    </p>
                  </div>
                </div>
              </div>
              <div class="person-box fadeUpEffect">
                <figure class="person-box__img">
                  <img src="img/trainer02.jpg" alt="トレーナー2人め">
                </figure>
                <div class="person-box__body">
                  <div class="person-box__text">
                    <p>Hello! 筋肉をつけすぎずしなやかな体を作ることが得意です！美しさを磨いていきましょう。</p>
                  </div>
                </div>
              </div>
              <div class="person-box fadeUpEffect">
                <figure class="person-box__img">
                  <img src="img/trainer03.jpg" alt="トレーナー3人め">
                </figure>
                <div class="person-box__body">
                  <div class="person-box__text">
                    <p>Hi, 負荷や強度の高いトレーニングがしたいならおまかせてください！どんなご要望もできるかぎり叶えますよ！</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-content">
            <div class="person-list">
              <div class="person-box fadeUpEffect">
                <figure class="person-box__img">
                  <img src="img/staff01.jpg" alt="スタッフ1人め">
                </figure>
                <div class="person-box__body">
                  <div class="person-box__text">
                    <p>ENBODYは明るくてとっても楽しいジムです！みなさんのセッションが楽しくなるようしっかりサポートいたします。</p>
                  </div>
                </div>
              </div>
              <div class="person-box fadeUpEffect">
                <figure class="person-box__img">
                  <img src="img/staff02.jpg" alt="スタッフ2人め">
                </figure>
                <div class="person-box__body">
                  <div class="person-box__text">
                    <p>Hi, please let me know anytime if you have any questions. We will fully support you!</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<svg class="section-border-bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 375 25">
  <path
    d="M375,240.667l-20.833,1.38c-20.833,1.484-62.5,4.089-104.167,1.406-41.667-2.786-83.333-11.12-125-15.286S41.667,224,20.833,224H0v25H375Z"
    transform="translate(375 249) rotate(180)" fill="#eb51c2" />
</svg>